$primaryColor: #272b30;
$secondaryColor: #1c1e22;
$textColor: rgb(27, 27, 27);
$bgColor: #edf2f7;

$headerBackColor: #3c4146;
$headerTextColor: #b7beb4;
$grdiBackColor: #2196f3;
$gridItemBgColor: rgba(255, 255, 255, 0.8);
$gridItemBorderColor: rgba(85, 85, 85, 0.8);
$titleTextColor:#e9db01;