@import "variables";
@import "mixins";

* {
  @include overal;
}

body {
  background-color: $bgColor;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 3rem;
  background-color: $headerBackColor;

  h1 {
    @include textStyle(1.3rem, bold, $headerTextColor);
  }

  .hamburger-menu {
    display: none;

    #xmark {
      display: none;
    }
  }
}

.navbar {
  display: flex;
  align-items: center;

  nav {
    margin-right: 40px;
  }

  ul {
    display: flex;
    list-style-type: none;
  }

  a {
    padding: 8px;
    text-decoration: none;
    transition: all 0.15s ease-in;
    @include textStyle(1rem, bold, $headerTextColor);

    &:hover {
      color: $textColor;
    }
  }
}

.hamburger-menu-panel {
  display: none;
}

.title-bar {
  display: flex;
  margin: 1rem 2rem;
  padding: 1rem;
  @include boxStyle;
  background-color: $secondaryColor;
  text-align: center;
  justify-content: center;
  h1 {
    @include textStyle(2rem, bold, $titleTextColor);
  }

  p {
    @include textStyle(1rem, bold, $titleTextColor);
  }
}

.main {
  display: flex;
  margin: 2rem 2rem;

  main {
    @include bodyStyle;
    @include boxStyle;
    width: 100%;

    h2 {
      @include textStyle(4rem, bold, $primaryColor);
      margin: 2rem 0 3rem;
    }

    p {
      @include textStyle(2rem, bold, $textColor);
    }

    flex-direction: column;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px 150px 150px 150px;
  background-color: $grdiBackColor;
  padding: 5px;
  border-radius: 7px;
  overflow: scroll;
  .grid-header-item {
    @extend .grid-item;
    font-weight: bold;
  }

  .grid-item {
    background-color: $gridItemBgColor;
    border: 1px solid $gridItemBorderColor;
    padding: 20px;
    font-size: 15px;
    text-align: center;
  }
}

.detail-section {
  display: flex;
  margin: 2rem 2rem;
  @include bodyStyle;
  height: auto;
  @include boxStyle;
  
  ul{
    list-style: none;
  }

  li{
    @include textStyle(1rem, 100, $titleTextColor);
  }
}

footer {
  display: flex;
  padding: 2rem 3rem;
  background-color: $primaryColor;
  margin-top: 30px;

  .links {
    padding: 0 5rem;

    ul {
      list-style: none;
    }

    a {
      text-decoration: none;
      @include textStyle(1.2rem, bold, $secondaryColor);
      display: inline-block;
      margin-bottom: 10px;
    }
  }
}

@include media(M) {
  .header {
    .hamburger-menu {
      display: flex;
      #bars {
        display: block;
      }
    }
  }

  .hamburger-menu-panel {
    @include boxStyle;
    margin: 0.08rem 0;
    justify-content: right;
    text-align: right;
    background-color: $headerBackColor;
    width: 100%;
    padding-bottom: 10px;
    ul {
      list-style-type: none;
    }

    li {
      padding-top: 0.5rem;
    }

    a {
      padding: 8px;
      text-decoration: none;
      transition: all 0.15s ease-in;
      @include textStyle(1rem, bold, $headerTextColor);

      &:hover {
        color: $textColor;
      }
    }
  }

  .navbar {
    display: none;
  }

  .main {
    flex-direction: column-reverse;
    margin: 1rem;

    main {
      width: calc(100% - 2rem);
      height: 500px;
      margin-bottom: 20px;

      p {
        font-size: 1.3rem;
      }
    }
  }
}
